@import "tailwindcss";

:root {
  --dark-50: #0b0909;
  --dark-100: #161313;
  --dark-200: #201d1d;
  --dark-300: #2b2727;
  --dark-400: #413939;
  --dark-500: #564d4d;
  --dark-600: #6c6060;
  --dark-900: #bcb4b4;
  --dark-950: #d8d3d3;
  --dark-0: #f6f4f4;

  --red-200: #e4585d;
  --red-500: #dc252b;
  --red-600: #ca2126;
  --red-800: #A71B20;
  --red-500-16: #4f0d0f1a;
  --red-500-40: #4f0d0f66;
  --red-0: #4f0d0f;
  --red-32: #541a1c;
  --red-48: #741c1f;

  --font-family-base: var(--font-inter);

  --font-xs-500-size: 10px;
  --font-xs-500-line-height: 140%;
  --font-xs-500-letter-spacing: 0.02em;
  --font-xs-700-size: 10px;
  --font-xs-700-line-height: 140%;
  --font-xs-700-letter-spacing: 0.02em;

  --font-s-500-size: 12px;
  --font-s-500-line-height: 133%;
  --font-s-500-letter-spacing: 0.01em;
  --font-s-700-size: 12px;
  --font-s-700-line-height: 133%;
  --font-s-700-letter-spacing: 0.01em;

  --font-m-500-size: 14px;
  --font-m-500-line-height: 143%;
  --font-m-500-letter-spacing: 0.01em;
  --font-m-700-size: 14px;
  --font-m-700-line-height: 143%;
  --font-m-700-letter-spacing: 0.01em;

  --font-l-500-size: 16px;
  --font-l-500-line-height: 150%;
  --font-l-500-letter-spacing: 0em;
  --font-l-700-size: 16px;
  --font-l-700-line-height: 150%;
  --font-l-700-letter-spacing: 0em;
}

@theme inline {
  --font-sans: var(--font-family-base);

  --color-dark-50: var(--dark-50);
  --color-dark-100: var(--dark-100);
  --color-dark-200: var(--dark-200);
  --color-dark-300: var(--dark-300);
  --color-dark-400: var(--dark-400);
  --color-dark-500: var(--dark-500);
  --color-dark-600: var(--dark-600);
  --color-dark-900: var(--dark-900);
  --color-dark-950: var(--dark-950);
  --color-dark-0: var(--dark-0);

  --color-crim-200: var(--red-200);
  --color-crim-500: var(--red-500);
  --color-crim-600: var(--red-600);
  --color-crim-800: var(--red-800);
  --color-crim-516: var(--red-500-16);
  --color-crim-532: var(--red-500-40);
  --color-crim-32: var(--red-32);
  --color-crim-48: var(--red-48);
}

body {
  background: var(--dark-50);
  color: var(--dark-0);
  font-family: var(--font-family-base), sans-serif;
}

.font-XS-500 {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-xs-500-size);
  line-height: var(--font-xs-500-line-height);
  font-weight: 500;
  letter-spacing: var(--font-xs-500-letter-spacing);
}
.font-XS-700 {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-xs-700-size);
  line-height: var(--font-xs-700-line-height);
  font-weight: 700;
  letter-spacing: var(--font-xs-700-letter-spacing);
}

.font-S-500 {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-s-500-size);
  line-height: var(--font-s-500-line-height);
  font-weight: 500;
  letter-spacing: var(--font-s-500-letter-spacing);
}
.font-S-700 {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-s-700-size);
  line-height: var(--font-s-700-line-height);
  font-weight: 700;
  letter-spacing: var(--font-s-700-letter-spacing);
}

.font-M-500 {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-m-500-size);
  line-height: var(--font-m-500-line-height);
  font-weight: 500;
  letter-spacing: var(--font-m-500-letter-spacing);
}
.font-M-700 {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-m-700-size);
  line-height: var(--font-m-700-line-height);
  font-weight: 700;
  letter-spacing: var(--font-m-700-letter-spacing);
}

.font-L-500 {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-l-500-size);
  line-height: var(--font-l-500-line-height);
  font-weight: 500;
  letter-spacing: var(--font-l-500-letter-spacing);
}
.font-L-700 {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-l-700-size);
  line-height: var(--font-l-700-line-height);
  font-weight: 700;
  letter-spacing: var(--font-l-700-letter-spacing);
}

/* Hide scrollbars everywhere while keeping scroll behavior */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
